
# ignore node dependency directories
node_modules/

# our release driven folders.
dist/
release/

# ignore log files and databases
*.log
*.sql
*.sqlite
*.tar.gz
*.zip

# some dotfiles
.DS_Store
.sass-cache

# specific files to exclude.
phpcs.xml
phpunit.xml
package-lock.json
Thumbs.db
wp-cli.local.yml
_notes.txt



